#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  font-family: OpenSans-Regular, "PingFang SC", "Microsoft YaHei", sans-serif, Arial;
}.LinkTab{
    color: rgb(37, 36, 36);
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* .swiper {
  width: 100%;
  height: 100%;
} */

.mySwiper{
    width: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 320px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img{
 
  width: 50%;
  height: 50%;

}
.name{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}.desc{
    font-size: 12px;
}.price{
    font-size: 15px;
    color: #dd0b25;
}.cutprice{
    text-decoration: line-through;
    color: #777777;
    font-size: 12px;
}.title{
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
}.from{
    color: #777777;
    font-size: 10px;

}
.namespan span{
  margin: 0 15px 0 15px;
  font-weight: bold;
}.namespan{
    width: 70%;
margin-top: 50px;
}.smartphone{
    margin-right: 60px;
    margin-bottom: 50px;
    font-weight: bold;
}.tabgrid{
    width: 142%;
    margin: 50px 0 0 -20%;
}.container .swiper-button-prev,.container .swiper-button-next{
    display: none;
}
.bestsellerdiv{
    display: flex;
}.bestsellerdiv img{
    width: 100%;
    height: 180px;

}.redtag{
    text-align: start;
    font-family: OpenSans-Regular, "PingFang SC", "Microsoft YaHei", sans-serif, Arial;
    color: white;
    background-color: #ff0000;
    font-size: 10px;
    padding: 1.5px;
    font-weight: bold;
    width: 105px;
    margin-bottom: 30px;
}.greentag{
    text-align: start;
    font-family: OpenSans-Regular, "PingFang SC", "Microsoft YaHei", sans-serif, Arial;
    color: white;
    background-color: #8dd904;
    font-size: 10px;
    padding: 2px;
    font-weight: bold;
    width: 30px;
    margin-bottom: 30px;
}.activitydiv img{
 width: 490px;
 height: 280px;
 margin: 10px;
}#lastimg{
    background-image:
    url('https://static.realme.net/v2/home/images/pc/2560-9addad5b18.jpg'); 
    height: 400px;
    background-size: cover;
    color: white;
padding-top: 80px;
}#lastimg button{
    margin-top: 20px;
    outline: none;
    border: 1px solid white;
    padding: 10px;
    width: 140px;
    background-color: transparent;
}#lastimg button:hover{
    background-color: white;
    color: black;
}.smartdiv{
    margin: 100px 200px 0 0;
}



/* media margins */

@media  screen and (max-width: 670px) {

    .mySwiper{
        width: 170%;
        padding: 30px;
    }.swiper-slide{
        font-size: 5px;
        margin: 0;
       width: 400px;
       height: 220px;
    }.name,.desc,.price,.cutprice{
        font-size: 10px;
    }.greentag,.redtag{
        display: none;
    }.namespan{
        padding: 30px;
        width: 130%;
    }.activitydiv img{
        margin-right: 350px;

    }
}