.row1{
    display: flex;
    width: 100%;
    margin: auto;
}
.row1>div{
margin: 1%;
width: 50%;
}
.brand{
font-size: 18px;
text-align: left;
}
.cartprice{
    font-weight:bold;
    font-size:24px;
    text-align: left;
}
.mar{
    text-align: left;
    margin-bottom: 22px;
}
.cartsession,.total{
    display: flex;
    margin-top: 35px;
}
.cartsession>button{
    margin: 10px;
}
.total>div{
width: 50%;

}
.total>div:nth-child(1){
    text-align: left;
    margin-top: 5px;
}
.total>div:nth-child(3){
    text-align: right;
    font-size: 12px;
}
.buy{
    width: 60%;
    height: 200px;
    background-color:whitesmoke;
}
.yellow{
    background-color:#ffc915 ;
    border: none;
    
}
.gray{
background-color: whitesmoke;
}
.yellow,.gray{
    color: black;
    width: 200px;
    outline: none;
    padding: 10px;
}
.gray:hover{
    background-color: black;
    color: white;
}
.yellow:hover{
    background-color: rgb(238, 202, 158);
}.mar{
    display: flex;
}
.mar div{
    margin-right: 5px;
    font-size: 12px;
    background-color: #fff3e9;
    border: 1px solid #ff882c;
    padding: 2px 4px;
    border-radius: 5px;
    width: auto;
    color: #ff882c;
}.descript{
   margin-left: -580px;
}.allDetail{
    margin-top: 100px;
}


@media  screen and (max-width: 670px) {
    .row1{
        flex-direction: column;
    }.row1 img{
    height: 300px;
    width: 250px;
    margin-top: 0;
    }.yellow,.buy{
        font-size: 10px;
        width: 200px;
        padding: 0;
    }.row1 div{
        margin-left: 20px;
    }.mar div{
        font-size: 10px;
        width: auto;   
    }.mar{
        width: 300px;
    }
}